
main .production .production-items {
    justify-content: center;
    -webkit-justify-content: center;
}
main .production .production-item {
    padding: 10px;
}
main .production .production-item .item-inner {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    overflow: hidden;
    color: #222222;
    background-color: #ffffff;
    padding: 10px 5px;
    height: 100%;

}
main .production .production-item .item-inner .picture {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}
main .production .production-item .item-inner .picture img {
    width: 100%;
    transform: scale(0.9);
    transition: transform 0.2s linear;
}
main .production .production-item .item-inner:hover .picture img {
    transform: scale(1);
}
main .production .production-item .item-inner .text {
    text-align: center;
    text-transform: uppercase;
}
main .production .production-item .item-inner:hover .text {
    color: #0000cb;
}
/* ADVANTAGES */
main .advantages {
    background-color: #bfe3ff;
}
main .advantages .advantages-container {
    justify-content: center;
    padding: 0 40px;
}
main .advantages .advantage {
    padding: 15px 20px;
    text-align: center;
}
main .advantages .advantage .advantage-inner {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    padding: 15px 10px;
    height: 100%;
}
main .advantages .advantage .image {
    margin-bottom: 2vw;
}
main .map .map-placeholder {
    text-align: center;
    z-index: -1;
}
main .map .map-container {
    margin: -20px auto 0;
    max-width: 600px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    main .production .production-items {
        flex-direction: row;
    }
    main .advantages .advantages-container {
        padding: 0;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    main .advantages .advantage .image {
        margin-bottom: 1vw;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    main .map .map-container {
        max-width: 900px;
    }
}