.sale-container {
    flex-direction: column;
    align-items: flex-start;
}
.sale-container .sale-item {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #101065;
    width: 100%;
}
.sale-container .sale-item:first-child {
    border-top: 2px solid #101065;
}
.sale-container .sale-item .image img {
    max-width: 150px;
}
.sale-container .sale-item .text {
    padding: 15px;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .sale-container .sale-item .image img {
        max-width: 250px;
    }
}