* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #222222;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto Slab', sans-serif;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
main {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    color: #101065;
    background-color: #d0eaf2;
}
main a {
    color: #101065;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
}
main a:hover {
    opacity: 0.6;
}
.wrapper {
    padding: 20px 0 40px;
}
.wrapper .section-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: default;
}
.wrapper .section-header::after {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 2px;
    background: #101065;
    content: '';
}
/* MAIN HEADER */
.main-header {
    background-color: #76a7e6;
    background-image: linear-gradient(#272768, #76a7e6);
    -webkit-background-image: linear-gradient(#272768, #76a7e6);
}
.main-header .header-main {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 30px;
}
.main-header .header-main h1 {
    color: #ffffff;
}
.main-header .header-main h1 img {
    vertical-align: middle;
    margin-left: -10px;
}
.main-header .header-main h1 .company-name-span {
    margin-left: -10px;
}
.main-header .header-main .header-contacts {
    font-size: 1.5rem;
}
.main-header .header-main .header-contacts ul {
    list-style: none;
    color: #ffffff;
}
.main-header .header-main .header-contacts ul a {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
}
.main-header .header-main .header-contacts ul a:hover {
    opacity: 0.4;
}
/* NAVIGATION */
.main-nav {
    background-color: #76a7e6;
    padding: 5px 0;
    position: relative;
}
.main-nav .mobile-navs {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.main-nav .mobile-navs a {
    display: inline-block;
    transition: color 0.2s linear, border-bottom-color 0.2s;
    -webkit-transition: color 0.2s linear, border-bottom-color 0.2s;
}
.main-nav .mobile-navs a:hover {
    color: #cccccc;
}
.main-nav .mobile-navs i {
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}
.main-nav .mobile-navs i:hover {
    color: #cccccc;
}
.main-nav .navigation {
    list-style: none;
    text-align: center;
    display: none;
    flex-direction: column;
    -webkit-flex-direction: column;
    z-index: 2;
    top: 42px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #76a7e6;
}
.main-nav .navigation .nav-item {
    position: relative;
}
.main-nav .navigation .nav-item a {
    display: block;
    padding: 10px 8px;
    border-bottom: 2px solid #ffffff;
    transition: color 0.2s linear, border-bottom-color 0.2s;
    -webkit-transition: color 0.2s linear, border-bottom-color 0.2s;
}
.main-nav .navigation .nav-item:hover > a {
    color: #101065;
    border-bottom: 2px solid #101065;
}
.main-nav .navigation .nav-item .nav-submenu {
    display: none;
}


/* MAP */
main .map iframe {
    height: 300px;
}

/* FOOTER */
footer {
    padding-top: 30px;
    background-color: #76a7e6;
    background: #76a7e6 linear-gradient(#76a7e6 10%, #272768 130%);
    -webkit-background-image: linear-gradient(#76a7e6 10%, #272768 130%);
}
footer .work-hours {
    text-align: left;
    display: block;
}
footer .inner-footer {
    padding-left: 30px;
}
footer .footer-contacts {
    padding-bottom: 15px;
}
footer .footer-contacts h3 {
    margin: 15px 0;
}
footer .footer-contacts .row {
    flex-direction: column;
    -webkit-flex-direction: column;
}
footer .footer-contacts a {
    transition: 0.25s color;
    font-size: 18px;
}
footer .footer-contacts a:hover {
    color: #76a7e6;
}
footer .copyright {
    border-top: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}
footer .copyright a {
    transition: 0.25s color, 0.25s border-bottom-width;
    -webkit-transition: 0.25s color, 0.25s border-bottom-width;
    border-bottom: 1px dotted #ffffff;
}
footer .copyright a:hover {
    color: #272768;
    border-bottom: 0;
}



/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .wrapper {
        padding: 30px 0 60px;
    }
    .wrapper .section-header {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .main-header .header-main h1 {
        font-size: 3rem;
    }
    main .map iframe {
        height: 400px;
    }
    footer .inner-footer {
        padding-left: 15px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .wrapper {
        padding: 40px 0 80px;
    }
    .wrapper .section-header {
        font-size: 24px;
        margin-bottom: 40px;
    }
    main .map iframe {
        height: 450px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .wrapper {
        padding: 50px 0 100px;
    }
    .wrapper .section-header {
        font-size: 28px;
        margin-bottom: 50px;
    }
    .main-header {
        background:
                url("./img/left_bg_t.png") center left no-repeat,
                url("./img/krani2.png") center right no-repeat,
                linear-gradient(#272768, #76a7e6);
        background-size: contain;
    }
    .main-nav .mobile-navs {
        display: none;
    }
    .main-nav .navigation {
        display: flex !important;
        display: -webkit-flex !important;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        position: static;
    }
    .main-nav .navigation .nav-item a {
        text-transform: uppercase;
        border-color: #76a7e6;
    }
    .main-nav .navigation .nav-item:last-child a {
        margin-bottom: 0;
    }
    .main-nav .navigation .nav-item .nav-submenu {
        position: absolute;
        top: 43px;
        left: 0;
        display: none;
        background-color: #76a7e6;
        list-style: none;
        z-index: 2;
    }
    .main-nav .navigation .nav-item:hover .nav-submenu {
        display: block;
    }
    .main-nav .navigation .nav-item .nav-submenu a {
        border-bottom: 1px solid #ffffff;
    }
    .main-nav .navigation .nav-item .nav-submenu a:hover {
        background-color: #8fc0ff;
    }
    main .map iframe {
        height: 500px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}